.fit-cover {
    object-fit: cover;
}

.mh-100 {
    min-height: 100%;
}
.h-100vh {
    height: 100vh;
}
.mw-135px {
    max-width: 135px;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}

.rounded-12 {
    border-radius: 12px;
}