<h2 class="page-title">Book details</h2>

<div class="bg-white book-details p-4 rounded">
    <div class="d-flex justify-content-between align-items-start flex-wrap mb-4">
        <div class="col-12 col-lg-4 d-flex flex-column flex-lg-row">
            <div class="image-container">
                <img [src]="bookObj?.coverPhoto" class="book-details__cover rounded">
              </div>
            <div class="mx-5">
                <h4 class="mb-4 mt-3">{{bookObj?.title}}</h4>

                <div class="d-flex">
                    <span class="text-center me-4">
                        <p class="text-primary mb-1 font-size-20 font-weight-500">
                            {{bookObj?.pagesNumber}}
                        </p>
                        <p class="mb-0 font-size-12 font-weight-500">Pages</p>
                    </span>
                    <span class="text-center ms-4">
                        <p class="text-primary mb-1 font-size-20 font-weight-500">
                            {{bookObj?.readingTime}}
                        </p>
                        <p class="mb-0 font-size-12 font-weight-500">To read</p>
                    </span>
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap">
            <button class="btn btn-danger mx-3" (click)="deleteBook()">{{'BUTTONS.DELETE' | translate}}</button>
            <button class="btn btn-primary" (click)="editBook()">{{'BUTTONS.EDIT' | translate}}</button>

        </div>
    </div>

    <div class="d-flex flex-wrap">
        <div class="col-12 col-lg-4">
            <p class="mb-1 font-size-12">
                By {{bookObj?.author}} | {{bookObj?.releaseDate | date : 'd MMMM y'}}
            </p>

            <p class="mb-1 font-size-14 text-primary font-weight-500">
                $ {{bookObj?.price}}
            </p>
            <p class="mb-1 font-size-12">
                ISBN {{bookObj?.isbn}}
            </p>
            <p class="mb-1 font-size-12">
                Version : {{bookObj?.version}}
            </p>
            <span class="d-inline-flex mb-1 mt-2 px-5 py-2 rounded-pill bg-light font-size-12 fw-bold">
                {{bookObj?.categoryName}}
            </span>
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="font-size-22">Brief</h4>
            <p class="mb-0">
                {{bookObj?.brief}}
            </p>
        </div>
    </div>
</div>