.mdc-data-table {

    &__cell,
    &__header-cell {
        border-color: #F4F4F4;
    }
}
.custom-paginator {
    display: flex;
    justify-content: end;
    .page-numbers {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 6px;
        margin: 0 4px;
        cursor: pointer;
        &.active  {
            background-color: $primary-color;
            color: white;
        }
    }
}